logs
/target/*
!target/universal
/target/universal/*
!target/universal/stage
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/activator-launch-1.2.12.jar
/activator
/.ensime
/.ensime_lucene
/test
*.sublime-project
*.sublime-workspace
