body {
  margin: 0px;
  background-color: rgba(42, 57, 95, 1);
}

a {
  text-decoration: none;
}

main {
  min-height: 530px;
  color: #444;
}

main a:link {
  color: rgba(112, 149, 212, 1);
}

main a:visited {
  color: rgba(112, 149, 212, 1);
}

main a:hover {
  color: rgba(153, 149, 212, 1);
  text-decoration: blink;
}

main a:active {
  color: rgba(112, 149, 212, 1);
}

h1 {
  margin: 3px 0px 3px 0px;
  height: 60px;
}

h1 img {
  width: 220px;
  padding-top: 13px;
}

h3 {
  font-size: 25px;
}

header {
  border-top: 3px solid rgba(101, 110, 164, 1);
  border-bottom: 1px solid rgba(83, 78, 78, 0.2);
  background-color: #fff;
  overflow: hidden;
}

header h1, header p {
  float: left;
  font-size: 14px;
  color: #aaaaaa;
}

header p {
  margin: 23px 0px;
}

#upper {
  padding-bottom: 30px;
}

nav {
  margin-top: 10px;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

footer ul {
  padding: 0px;
}

nav ul li, footer ul li {
  display: inline-block;
  text-align: center;
}

nav ul li {
  padding: 10px 20px 10px 20px;
}

footer ul li {
  padding: 0px 20px 0px 20px;
  border-right: 1px solid #aaa;
}
footer ul li:last-child {
  padding: 0px 20px 0px 20px;
  border-right: none;
}

nav ul li a {
  color: #aaa;
}

footer ul li a {
  color: #fff;
}

#news_date {
  text-align: right;
  font-size: 15px;
  color: #aaa;
}

.zakkuri ul {
  margin-bottom: 60px;
}

.zakkuri ul li {
  list-style-type: none;
  margin: 8px 0px 8px 0px;
  padding-left: 10px;
  position: relative;
}

.zakkuri ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 8px;
  height: 3px;
  border-left: 2px solid #3498db;
  border-bottom: 2px solid #3498db;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.zakkuri a {
  padding: 15px 200px 15px 200px;
  font-size: 20px;
  color: rgba(83, 94, 130, 1);
  margin: 0px 0px 0px 22%;
  border: 2px solid rgba(83, 94, 130, 1);
  border-radius: 5px;
}

.movie_content img {
  width: 400px;
  margin: 10px;
  margin-left: 27%;
}

.movie_content p{
  margin-bottom: 30px;
  margin-top: 30px;
}

#relative_news {
  padding: 15px;
  margin: 60px 10px 10px 10px;
  border-top: 1px solid #ddd;
}

#relative_news li {
  list-style-type: none;
}

main {
  width: 900px;
  padding: 10px 40px 10px 40px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fcfcfc;
}

#lower {
  margin-top: 30px;
}

footer {
  margin-top: 20px;
  padding: 20px 0px 20px 0px;
  color: #ddd;
  text-align: center;
  font-size: 14px;
}

#copyright {
  margin-top: 40px;
}